* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  color: black;
  font-family: 'Roboto Mono', monospace;
}

button {
  cursor: pointer;
}


.publicar {


  border: 1px solid #3B925F;
  background-color: #3B925F;
  color: #ffffff;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  padding: 8px;

}